<marquee>Hello, Jignesh!</marquee>

<app-hello-world message="George~Washington~1732~2~22~Virginia~1799~12~14~Virginia"></app-hello-world>
<app-hello-world message="Barack~Obama~1961~8~4~Hawaii"></app-hello-world>
<app-hello-world message="Narendra~Modi~1950~9~17~Vadnagar, Gujarat"></app-hello-world>
<care-smart-enrollment id="enroll-wc" bootstrap-version="4">
</care-smart-enrollment>
<router-outlet></router-outlet>
